*{
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid red;*/
}
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #AE90B2;
  padding: 4px 12px 4px 12px;
}
a {
  text-decoration: none;
}

.menu-bar {
  width: 100%;
  padding: 1px 0px;
  background-color: #AE90B2;
  display: inline-block;
}
.pallette-bar{
  float: left;
}
.button-bar{
  float: right;
  flex: auto;
}
.pallette{
  padding: 10px 20px;
  position: relative;
  bottom: -10px;
  display: inline-block;
}
.reset {
  box-sizing: padding-box;
  background: black;
  color: white;
  height: 16px;
  width: 90px;
  padding: 12px 10px 12px 18px;
  position: relative;
  bottom: 0px;
}
.white {
  background: #ECFFF8;
}
.flesh {
  background: #FFCB87;
}
.brown {
  background: brown;
}
.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
#colorPicker  {
  margin: 0px;
  padding: 0px;
  height: 30px;
  position: relative;
  top: 5px;
  display: inline-block;
}
#bgPicker {
  margin: 0px;
  padding: 0px;
  height: 30px;
  position: relative;
  top: 5px;
  display: inline-block;
}
.topButtons {
  padding: 5px;
  position: relative;
  bottom: 0px;
  display: inline-block;
}

.box {
  z-index: 1;
  width: 12px;
  height:12px;
  display: inline-block;
  background: #ECFFF8;
  opacity: .5;
}
.containerDivClassy{
  background-image: url("http://img.ffffound.com/static-data/assets/6/51cc46900bf5fe574293d49c4d9939e0ebfc8ee3_m.jpg");
}
.containerDiv{
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 2px 2px 2px #131313;
  z-index: 1;
  background-color: white;
  opacity: 1;
}
#chooseFile {
  font-weight: lighter;
  font-size: 10px;
  font-stretch: condensed;
}
#enterURL {
  font-weight: lighter;
  font-size: 10px;
  font-stretch: condensed;
}
input {
    background-color: white;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}
input, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0px;
    font: 13px Arial;
  }
